<!doctype html>
<html lang="en" ng-app="beerfest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Beer Fest</title>

    <link rel="stylesheet" href="css/beerfest.css">

    <script src="js/vendor/fastclick.min.js"></script>
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/angular-1.4.8.min.js"></script>
    <script src="js/vendor/firebase.min.js"></script>
    <script src="js/vendor/angularfire.min.js"></script>
    <script src="js/beerfest.js"></script>

</head>
<body class="global">

    <!-- this is the element that we will put the svg sprite into -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden" id="svg-sprite"></div>


    <div id="app" ng-controller="BeerfestController as beerfest" ng-class="getAppClasses()">
        <header class="app-banner">
            <div class="branding l-flex l-center">
                <div class="l-col-fluid"><svg class="beerfest-logo"><use xlink:href="#svg--logo"></use></svg></div>

                <ul class="l-col-fit l-pad-left util-nav">
                    <li ng-click="drawerActive = !drawerActive"><span ng-hide="currentUser">Log in</span><span ng-show="currentUser">{{ currentUser.password.email }}</span></li>
                    <li ng-hide="drawerActive" ng-click="drawerActive = true"><svg class="icon--user"><use xlink:href="#svg--icon--user"></use></svg></li>
                    <li ng-show="drawerActive" ng-click="drawerActive = false"><svg class="icon--close"><use xlink:href="#svg--icon--close"></use></svg></li>
                </ul>
            </div><!-- .branding -->

            <div class="app-nav">
                <ul class="l-flex">
                    <li class="l-col-fluid col-1-4" ng-click="appView = 'all-beers'" ng-class="{active: appView === 'all-beers'}"><svg class="icon--beerlist"><use xlink:href="#svg--icon--bottles"></use></svg></li>
                    <li class="l-col-fluid col-1-4" ng-click="appView = 'hads'" ng-class="{active: appView === 'hads'}"><svg class="icon--hads"><use xlink:href="#svg--icon--hads"></use></svg></li>
                    <li class="l-col-fluid col-1-4" ng-click="appView = 'wishlist'" ng-class="{active: appView === 'wishlist'}"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                    <li class="l-col-fluid col-1-4" ng-click="appView = 'more'" ng-class="{active: appView === 'more'}"><svg class="icon--more"><use xlink:href="#svg--icon--more"></use></svg>
                </ul>
            </div>
        </header><!-- .app-banner -->

        
        <div class="app-main">


            <div class="beerlists" ng-controller="BeerlistController">

                <div class="beers--all app-beerlist" beerlist ng-controller="AllBeersController" ng-show="appView === 'all-beers'"></div><!-- .beers-all -->
                <div class="beers--hads app-beerlist" beerlist ng-controller="HadsController" ng-show="appView === 'hads'" ></div><!-- .beers-hads -->
                <div class="beers--wishlist app-beerlist" beerlist ng-controller="WishlistController" ng-show="appView === 'wishlist'"></div><!-- .beers-wishlist -->
                
                <div class="app--more" ng-show="appView === 'more'">
                    <div ng-controller="AddBeerController">
                        <header>
                            <h6>Add a beer</h6>
                            <p>If you can't find a beer at the festival in this list, add it to the database here.</p>
                        </header>
                        <autocomplete data="breweryList" attr-placeholder="Brewery name" ng-model="breweryName" on-select="chooseBrewery" on-type="clearBeers"></autocomplete>
                        
                        <div ng-show="breweryBeers">
                            <header><strong>Listed Beers</strong></header>
                            <ul>
                                <li ng-repeat="beer in breweryBeers">{{ beer.name }}</li>
                            </ul>
                        </div>
                        
                        <input type="text" placeholder="Beer name" ng-model="beerName">

                        <button ng-click="addBeer()">{{ submitText }}</button>
                        <div class="add-beer-message" ng-class="{ active: message !== '' }">{{ message }}</div>
                    </div>
                </div>
            </div><!-- .app-main -->
        </div>


        <div class="app-drawer">
            <header ng-hide="currentUser">
                <h6>Not logged in</h6>
                <p>You can still save data on your device.</p>
            </header>

            <header ng-show="currentUser">
                <h6>Welcome, {{ currentUser.password.email }}</h6>
            </header>

            <form ng-controller="AuthController">
                <fieldset ng-hide="currentUser">
                    <p><strong>Log in</strong></p>

                    <input type="email" placeholder="Email" ng-model="email">
                    <input type="password" placeholder="Password" ng-model="password">

                    <div class="actionable">
                        <button ng-click="login()">{{ loginText }}</button>
                    </div>

                    <div class="form-error" ng-show="ctrlError">
                        {{ ctrlError }}
                    </div>
                </fieldset>

                <div ng-show="currentUser">
                    <button ng-click="logout()">Log out</button>
                </div>
            </form>
            
            <footer>
                <p ng-hide="currentUser">This app is still in limited beta. For a user account, contact Nick Braica at <a href="mailto:nick.braica@gmail.com">nick.braica@gmail.com</a>.</p>
                <p ng-hide="currentUser">For anonymous users, the app will save data directly onto the device you are using.</p>
                <p>All data pulled from <a href="http://beeradvocate.com" target="_blank">BeerAdvocate.com</a>.</p>
            </footer>

        </div><!-- .app-drawer -->

        <div class="app-loading l-flex l-center">
            <div>
                <svg class="beerfest-logo"><use xlink:href="#svg--logo"></use></svg>

                <p>Loading beers...</p>
            </div>
        </div><!-- .app-loading -->

    </div><!-- #app -->


    <script>
        // open a new xmlhttprequest
        var request    = new XMLHttpRequest();

        // select the document we're going to put the sprite into
        var spriteDiv  = document.getElementById("svg-sprite");

        // the path to the source svg sprite
        var spritePath = "svg/build/icons.svg";

        // load up the svg
        request.open('GET', spritePath, true);

        // when the request has been loaded, check to see if the svg has been
        //  loaded alright (based on the given status). If it's good, set the
        //  DOM element's innerHTML to the content from the loaded svg.
        //  Otherwise, throw an error.
        request.onload = function() {
            if (this.status >= 200 && this.status < 400) {
                var resp = this.response;
                spriteDiv.innerHTML = resp;
            } else {
                console.error("There was an error getting the icons");
            }
        };

        // just a check for a request error
        request.onerror = function() {
            console.error("There was an error getting the icons");
        };

        // send the request!
        request.send();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20596099-19', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>