/* ==============================================================
   --components
   ============================================================== */




/* --------------------------------------------
 * --media
 * -------------------------------------------- */

img, svg{
    max-width: 100%;
    height: auto;
}



/* --------------------------------------------
 * --banner
 * -------------------------------------------- */

.app-banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    .branding{
        padding: 10px;
        background: $color-main;

        .beerfest-logo{
            width: 100px;
            height: 12px;
            fill: $color-white;
        }
    }

    .util-nav li{
        display: inline-block;

        span{
            vertical-align: middle;
            color: #fff;
            font-size: .8em;
            opacity: .6;
        }
        
        svg{
            vertical-align: middle;
            width: 20px;
            max-height: 20px;
            fill:$color-white;
        }
    }

    .app-nav{
        background: #333;
        text-align: center;

        li{
            padding: 10px;
            @include flexbox();
            justify-content: center;

            &.active{
                background: #222;

                svg{
                    fill: #fff;
                }
            }
        }

        svg{
            width: 26px;
            max-height: 26px;
        }
    }
}


/* --------------------------------------------
 * --loading
 * -------------------------------------------- */

.app-loading{
    position: absolute;
    text-align: center;
    padding: 40px;
    color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: $color-main;
    opacity: 1;
    visibility: visible;
    @include transition(all .4s);

    .appLoaded &{
        opacity: 0;
        visibility: hidden;
    }

    .beerfest-logo{
        fill: #fff;
        height: 40px;
    }

    p{
        margin-top: 1em;
    }
}


/* --------------------------------------------
 * --main
 * -------------------------------------------- */

.app-main{
    padding-top: 100px;
    overflow: auto;
    height: 100%;
}


/* --------------------------------------------
 * --beer list
 * -------------------------------------------- */



.brewery{
    position: relative;

    .brewery-name{
        padding: 16px 48px 16px 20px;
        position: relative;
        cursor: pointer;
    }

    & + .brewery .brewery-name:before{
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        border-top: 1px solid $color-light-gray;
    }

    &.active{
        z-index: 2;
        background-color: $color-white;
        margin-bottom: -1px;
        border-bottom: 2px solid $color-main;

        .brewery-name{
            font-weight: bold;
            &:before{
                left: 0;
                right: 0;
                border-top-width: 2px;
                border-top-color: $color-main;
            }
        }
        .brewery-beers{
            display: block;
        }
    }
}
    

.brewery-beers{
    margin: 0 20px;
    display: none;

    .beer{
        padding: 10px 0;
        position: relative;
        border-top: 1px solid $color-light-gray;

        label{
            font-size: .8em;
            font-style: italic;
            display: block;
        }

        .second-row{
            padding-top: 10px;
            min-height: 48px;
            position: relative;
        }


        .beer-stats {
            opacity: 1;
            visibility: visible;
            @include transition( all .4s 1s );

            & > div + div{
                padding-left: 12px;
            }
        }

        .beer-actionable{
            flex-basis:32px;
            width: 32px;
            text-align: center;
            padding-right: 10px;

            li{
                cursor: pointer;
                & + li{
                    margin-top: 6px;
                }
            }

            svg{
                fill: $color-gray;
                width: 22px;
                height: 22px;
            }

            .beer-rating{
                font-weight: bold;
                color: $color-green;
            }
        }

        .rating{
            position: absolute;
            left: 0;
            right: 0;
            top: 10px;
            opacity: 0;
            visibility: hidden;
            @include transition( all .4s 1s );

            li + li{
                margin-left: 10px;
            }

            svg{
                @include transition( fill .2s);
                width: 26px;
                height: 26px;
            }

            .rated svg{
                fill: $color-yellow;
            }
        }
        
        // prompt the rating
        &.prompt-rating {
            .rating{
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
            }
            .beer-stats{
                opacity: 0;
                visibility: hidden;
                transition-delay: 0s;
            }
        }

        
        // beer status things
        &.wishlisted .beer-actionable .icon--starred{
            fill: $color-yellow;
        }

        &.had {
            .trigger-wishlist{
                display: none;
            }
            .icon--checkmark{
                fill: $color-green;
            }
        }

    } // beer
}



/* --------------------------------------------
 * --open / close indicator (the plus/minus in the beer view)
 * -------------------------------------------- */

.open-close-indicator{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 20px;
    top: 50%;
    margin-top: -7px;


    &:after,
    &:before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-light-gray;

        .active &{
            background-color: $color-main;
        }
    }

    &:after{
        top: 50%;
        left: 0;
    }

    &:before{
        top: 7px;
        @include transform( rotate(90deg) );
        @include transition( opacity .4s );

        .active &{
            opacity: 0;
        }
    }


}

