/* ==============================================================
   --components
   ============================================================== */




/* --------------------------------------------
 * --media
 * -------------------------------------------- */

img, svg{
    max-width: 100%;
    height: auto;
}



/* --------------------------------------------
 * --banner
 * -------------------------------------------- */

.app-banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    .branding{
        padding: 10px;
        background: $color-main;

        .beerfest-logo{
            width: 100px;
            height: 12px;
            fill: $color-white;
        }
    }

    .util-nav li{
        display: inline-block;
        
        svg{
            width: 20px;
            max-height: 20px;
            fill:$color-white;
        }
    }

    .app-nav{
        background: #333;
        text-align: center;

        li{
            padding: 10px;
            @include flexbox();
            justify-content: center;
        }

        svg{
            width: 26px;
            max-height: 26px;
        }
    }
}