/* ==============================================================
   --mixins
   ============================================================== */

@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


@mixin flex( $attrs ){
    -webkit-box-flex: $attrs;
       -moz-box-flex: $attrs;
        -webkit-flex: $attrs;
            -ms-flex: $attrs;
                flex: $attrs;
}


/**
 * --transforms
 */
@mixin transform($transforms) {
    -webkit-transform: $transforms;
       -moz-transform: $transforms;
        -ms-transform: $transforms;
         -o-transform: $transforms;
            transform: $transforms;
}

/**
 * --transitions
 */
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}