/* ==============================================================
   --typography
   ============================================================== */

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: $text-color;
    font-size: $font-size;
    line-height: $line-height;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}



/* --------------------------------------------
 * --headers
 * -------------------------------------------- */

h6{
    color: $color-main;
    font-weight: 700;
}


/* --------------------------------------------
 * --icons
 * -------------------------------------------- */


/* ------------------------------------------
 * --forms
 * ------------------------------------------ */

// lets reset
input[type="email"],
input[type="password"],
input[type="text"],
button{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 100%;
    display: block;
    padding: 8px 0;
    background: none;
    font-size: $font-size;
}

input[type="email"],
input[type="password"],
input[type="text"]{
    border-bottom: 2px solid $color-gray-accent;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
button:focus{
    outline:none;
}



// hack for autocomplete stuff
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $bg-drawer inset;
}

button{
    text-align: left;
    color: $color-main;
    cursor: pointer;
    font-weight: 700;
}

.form-el{
    position: relative;

    + .form-el{
        margin-top: 20px;

        &.actionable{
            margin-top: 10px;
        }
    }

    label{
        position: absolute;
        left: 0;
        top: 8px;
        font-size: .8em;
        opacity: .6;
        pointer-events:none;
        @include transition( all .2s );
    }

    &.focus label{
        font-size: .6em;
        @include transform( translate( 0, -14px ));
    }
}

.form-error{
    color: $color-main;
}



/* --------------------------------------------
 * --misc
 * -------------------------------------------- */

[ng-click]{
    cursor: pointer;
}