/* ==============================================================
   --variables
   ============================================================== */

$font-size: 16px;
$line-height: 1.4;


/* --------------------------------------------
 * --colors
 * -------------------------------------------- */

$text-color: #222;

$color-main: #db162f;

$color-secondary: #355691;
$color-gray: #3f4045;
$color-white: #f4faff;