/* ==============================================================
   --variables
   ============================================================== */

$font-size: 14px;
$line-height: 1.4;


/* --------------------------------------------
 * --colors
 * -------------------------------------------- */

$text-color: #222;

$color-main: #b41f24;

$color-secondary: #355691;
$color-gray: #3f4045;
$color-light-gray: lighten($color-gray, 50%);
$color-white: #f4faff;