/* ==============================================================
   --variables
   ============================================================== */

$font-size: 16px;
$line-height: 1.4;


/* --------------------------------------------
 * --colors
 * -------------------------------------------- */

$text-color: #222;
$white: #fff;

$brand-color-main: #c92d2d;
