// Colors
// -----------

$c--white: #ffffff;
$c--gray-e: #eeeeee;
$c--gray-3: #3d3d3d;
$c--gray-4: #444444;
$c--gray-9: #999999;
$c--black: #222222;
$c--teal: #4abba4;
$c--yellow: #feda6f;
$c--yellow-darker: darken($c--yellow, 12%);
$c--yellow-dark: darken($c--yellow, 26%);

// Type sizes
// -----------

$fs--lg: 1.5rem;
$fs--sm: 0.9rem;
$fs--xs: 0.6rem;

// Type weights
// -----------

$fw--normal: 400;
$fw--bold: 800;

// Spacing
// -----------

$side-margin: 1rem;

// Breakpoints
// -----------

$bp--phone: 400px;
$bp--tablet: 800px;
$bp--desktop: 1200px;
