body,
button,
input,
select {
  @include roboto();
  font-size: 16px;
  line-height: 1.4;
}

// Headers
// -----------

h1 {
  @include rubik();
  @include fluid-font(22px $bp--phone, 60px $bp--desktop);
}

h2 {
  @include rubik();
  @include fluid-font(22px $bp--phone, 60px $bp--desktop);
}

// Buttons
// -----------

button {
  color: inherit;
}

.btn {
  @include transition(background-color);
  display: inline-block;
  border: 0;
  background-color: $c--yellow;
  padding: 0.6em 0.8em;
  font-size: $fs--sm;

  &:hover {
    background-color: $c--yellow-darker;
  }

  &:focus {
    outline: none;
  }
}

// Content stack
// -----------

.stack > * + * {
  margin-top: 1em;
}
