<ul>
    <li class="brewery" ng-repeat="(brewery, beers) in beerlist" ng-class="{active: view !== 'all'}">
        <header class="brewery-name" ng-click="toggleActiveBrewery( $event )">
            {{brewery | decode}}

            <span class="open-close-indicator"></span>
        </header>

        <ul class="brewery-beers">
            <li class="beer l-flex" ng-repeat="(index, beer) in beers.beers" ng-class="beerClasses( beer, brewery )">

                <div class="beer-actionable l-col-fixed">
                    <ul>
                        <li class="trigger-had" ng-click="drinkBeer( beer, brewery )"><svg class="icon--checkmark"><use xlink:href="#svg--icon--checkmark"></use></svg></li>
                        <li class="trigger-wishlist" ng-click="wishlistBeer( beer, brewery )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                        <li class="beer-rating" ng-show="getBeerRating( beer, brewery )" ng-click="openRating( beer, brewery )">{{ getBeerRating(beer, brewery) }}</li>
                    </ul>
                </div><!-- .beer-actionable -->

                <div class="beer-info l-col-fluid">
                    <div class="beer-name">
                        <strong>{{beer.name}}</strong>
                    </div><!-- .beer-name -->

                    <div class="second-row">

                        <div class="beer-stats l-flex">
                            <div class="l-col-fluid col-1-2">{{beer.style}}</div>
                            <div class="l-col-fit">
                                <label for="">ABV</label> {{beer.abv}}
                            </div>
                            <div class="l-col-fit">
                                <label for="">Score</label> {{beer.ba_score}}
                            </div>
                        </div><!-- .beer-stats -->

                        <div class="rating">
                            <ul class="l-flex">
                                <li ng-click="rateBeer( beer, brewery, 1 )" ng-class="getRatingClass( beer, brewery, 1 )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                                <li ng-click="rateBeer( beer, brewery, 2 )" ng-class="getRatingClass( beer, brewery, 2 )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                                <li ng-click="rateBeer( beer, brewery, 3 )" ng-class="getRatingClass( beer, brewery, 3 )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                                <li ng-click="rateBeer( beer, brewery, 4 )" ng-class="getRatingClass( beer, brewery, 4 )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                                <li ng-click="rateBeer( beer, brewery, 5 )" ng-class="getRatingClass( beer, brewery, 5 )"><svg class="icon--starred"><use xlink:href="#svg--icon--star"></use></svg></li>
                            </ul>
                        </div><!-- .rating -->

                    </div><!-- .second-row -->
                </div><!-- .beer-info -->
            </li>
        </ul>
    </li>
</ul>